include CMakeLists.txt

# the sphericart folder is a symbolic link to /sphericart, so we can include
# the sphericart sources in the sphericart_torch python package
recursive-include sphericart *

recursive-include src *
recursive-include include *
