# sphinx dependencies
sphinx
furo            # sphinx theme
breathe >=4.33  # C and C++ => sphinx through doxygen
sphinx-gallery  # convert python files into nice documentation
sphinx-tabs     # tabs for code examples (one tab per language)
pygments >=2.11 # syntax highligthing
toml            #
myst-parser     # markdown => rst translation, used in extensions/rascaline_json_schema

# dependencies for the tutorials
chemfiles
matplotlib
skcosmo
ase
