# sphinx dependencies
sphinx
breathe >=4.33     # C and C++ => sphinx through doxygen
furo               # sphinx theme

numpy
torch

# jax[cpu], because python -m pip install jax, which would be triggered
# by the main package's dependencies, does not install jaxlib
jax[cpu] <0.6

# metatensor and metatensor-torch for the metatensor API
metatensor-torch
